body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.edit-btn, .delete-btn, .back-btn, .create-btn{
    background-color: #007BFF;
    color: white;
    border: none;
	border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn:hover, .delete-btn:hover, .back-btn:hover, .create-btn:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#new-profile-form {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px 30px;
	max-width: 600px;
	width: 100%;
	margin: 20px;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
	color: #555;
}

input[type="text"],
textarea,
input[type="date"],
input[type="color"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 10px;
}


.form-section {
	margin-bottom: 20px;
}

.form-section legend {
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: #444;
}

.form-section div {
	margin-bottom: 10px;
}

.two-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.two-columns label {
	display: flex;
	align-items: center;
	font-weight: normal;
}